<form method="POST" action="/login/">
    {% csrf_token %}
    <h2>Login</h2>
    <label for="username-login">Username:</label>
    <input type="text" id="username-login" name="username" required>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" name="password" required>
    <button type="submit">Login</button>
</form>


<form method="POST" action="/register/">
    {% csrf_token %}
    <h2>Register</h2>
    <label for="username-register">Username:</label>
    <input type="text" id="username-register" name="username" required>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <label for="password-register">Password:</label>
    <input type="password" id="password-register" name="password" required>
    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" required>
    <button type="submit">Register</button>
</form>


<form method="POST" action="/logout/">
    {% csrf_token %}
    <h2>Logout</h2>
    <button type="submit">Logout</button>
</form>