<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Вхід</title>
  {% load static %}
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="container mt-5">
      <div class="row justify-content-center">
          <div class="col-md-6">
              <div class="card">
                  <div class="card-header">
                      <h2>Вхід</h2>
                  </div>
                  <div class="card-body">
                      <form method="post" action="{% url 'login' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">
                          {% csrf_token %}
                          {% if request.GET.next %}
                              <input type="hidden" name="next" value="{{ request.GET.next }}">
                          {% endif %}
                          {{ form.as_p }}
                          <button type="submit" class="btn btn-primary btn-block">Увійти</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>